@model IEnumerable<IdmanistNews.News>
@{
    Layout = null;
}

<aside id="block_video" class="content">
    <div class="video"></div>
    <ul>
        @foreach (var item in @Model)
        {
            <li class="vimeo"><a href="@item.VideoRoute"></a></li>
        }
        
        <li class="vimeo"><a href="http://vimeo.com/36597088"></a></li>
        <li class="vimeo"><a href="http://vimeo.com/36596665"></a></li>
        <li class="vimeo"><a href="http://vimeo.com/36597718"></a></li>
        <li class="vimeo"><a href="http://vimeo.com/36597442"></a></li>
    </ul>
    <p><a href="#" class="view_all"><span><span>All Videos</span></span></a></p>
</aside>